body{
    background-color:white;
    height: 900px;
    width: 600px;
}
img{
    width: 300px;
    height: 230px;
    margin-left: 600px;
    margin-top: 70px;

}
.EMAIL{
    margin-top: 30px;
    font-family: sans-serif;
    width: 300px;
    color: white;
    height: 35px;
    margin-left: 600px; 
    background-color: #ff0078;
    border-radius: 15px;
    outline: none;
    border: none;

}

.SMS{
  
    top: 5px;
      margin-top: 30px;
      color: white;
      font-family: sans-serif;
      width: 300px;
      height: 35px;
     
      margin-left: 600px; 
      background-color: rgba(0,184,255,.9);
      border-radius: 15px;
      outline: none;
      border: none;
  
  }.SHARE{

    top: 5px;
      margin-top: 30px;
      color: white;
    
      font-family: sans-serif;
      width: 300px;
      height: 35px;
      margin-left: 600px; 
      background-color: #015c92;
      border-radius: 15px;
      outline: none;
      border: none;
  
  }.WHATSAPP{
      margin-top: 30px;
      font-family: sans-serif;
      color: white;
      width: 300px;
      height: 35px;
      margin-left: 600px; 
      background-color: #48bf53;
      border-radius: 15px;
      outline: none;
      border: none;
      cursor: pointer;
    
  
  }
  i{
  float: left;
color: white;
margin-left: 8px;
font-size: 20px;
}
a{
    text-decoration: none;
    color: white;
}